@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
.app {
  display: flex;
  flex-direction: column;
  min-height: 105vh;
}

body {
  font-family: 'Bebas Neue', sans-serif;
  cursor: default;
  transition-duration: .5s;
  background: lightblue!important;
}

h1,
h3 {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  transition-duration: .5s;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  padding: 1rem 0;
  line-height: 2.5rem;
}

h3 {
  color: #333;
}

.emoji {
  height: 50px;
}

/* header */
.header {
  padding: 1rem 1rem;
  animation: start 1s linear;
  z-index: 1;
  position: relative;
}

.nav {
  max-width: 1400px;
  margin-inline: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  gap: .5rem;
}

.nav a {
  cursor: pointer;
  transition-duration: .5s;
  color: #333;
}

.nav a:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.nav a:not(:hover) {
  transition-duration: 0.5s;
}



/* gallery */
.gallery {
  /* column-count: 3; */
  column-gap: 1rem;
  padding: 0 1rem;
  padding-bottom: 1rem;
  max-width: 1400px;
  margin-inline: auto;
  animation: start 1s linear;
}

.imageContainer {
  cursor: pointer;
  position: relative;
  break-inside: avoid;
  margin-bottom: 0.7rem;
  overflow: hidden;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

.imageContainer img {
  max-width: 100%;
  min-height: 100%;
  border-radius: 0.5rem;
  animation: start 1s linear;
  user-select: none;
}

.imageContainer img:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.imageContainer img:not(:hover) {
  transition-duration: 0.5s;
}

.grayPlace {
  background: whitesmoke;
  z-index: 1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

/* footer */

footer {
  display: flex;
  width: 100%;
  height: 1rem;
  margin-top: auto;
}

/* loader */

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  animation: start 1s linear;
}

/* modal */

.modalWindow {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 2;
}

.closePort {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
  /* background: lightblue; */
  gap: 1rem;
  max-height: 80vh;
  padding: 2rem;
  /* position: relative; */
  user-select: none;
}

.content img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  animation: start 0.5s linear;
  user-select: none;
}

.downloadBtn {
  bottom: 15px;
  right: 15px;
}

.modalNavigation {
  display: flex;
  gap: 3rem;
  position: absolute;
  bottom: 30px;
  z-index: 1;
}

.modalNavigation a {
  display: flex;
  font-size: 2rem;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
}

.modalNavigation a:hover {
  transform: scale(1.5);
  transition-duration: 0.5s;
}

.modalNavigation a:not(:hover) {
  transition-duration: 0.5s;
}

/* up fixed button */
.upBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: white;
  cursor: pointer;
  background: #333;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  font-size: 1.5rem;
  animation: start 0.5s linear;
  bottom: 15px;
  right: 15px;
  transition-duration: .5s;;
  z-index: 10;
}


.upBtn:hover {
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.upBtn:not(:hover) {
  transition-duration: 0.5s;
}

/* error */

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  left: 0;
  font-size: 2rem;
  animation: start 0.5s linear;
  gap: .5rem;
}

/* dark mode */
.h1Dark {
  color: white;
}

.h3Dark {
  color: rgb(231, 231, 231);
}

.modeSwitchDark {
  color: white!important;
}

.btnUpDark {
  color: #333;
  background: white;
}

/* media */
@media (max-width: 900px) {
  .gallery {
    column-count: 2!important;
  }

  .layoutBtn {
    display: none;
  }
}

/* animation */

@keyframes start {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
